---
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "/css/front.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="content">
            <div class="header"></div>

            {% if site.front_img %}
            <img src="{{ site.front_img_path }}" id="fullscreen">
            {% endif %}

            {% if site.avatar %}
                <img src="{{ site.avatar_img_path }}" id="avatar">
            {% endif %}

            <h1>{{ site.name }}</h1>
            <h3>{{ site.description }}</h3>

            <audio controls style="background: #f1f3f4" >
                <source src="http://stream.pretflatfm.nl:8000/live" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

            <ul>
                {% if site.phone_number %}
                <li><a class="fa fa-2x fa-phone" href="tel:{{ site.phone_number }}"><span class="description">Telefoon</span></a></li>
                {% endif %}

                {% if site.twitch_username %}
                <li><a class="fa fa-2x fa-twitch" href="https://twitch.com/{{ site.twitch_username }}"><span class="description">Twitch</span></a></li>
                {% endif %}

                {% if site.youtube_username %}
                <li><a class="fa fa-2x fa-youtube" href="https://youtube.com/channel/{{ site.youtube_username }}"><span class="description">Youtube</span></a></li>
                {% endif %}

                {% if site.twitter_hashtag %}
                <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/search?q=%23{{ site.twitter_hashtag }}"><span class="description">Twitter</span></a></li>
                {% endif %}

                {% if site.facebook_username %}
                <li><a class="fa fa-2x fa-facebook" href="https://facebook.com/{{ site.facebook_username }}"><span class="description">Facebook</span></a></li>
                {% endif %}

                {% if site.instagram_username %}
                <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ site.instagram_username }}"><span class="description">Instagram</span></a></li>
                {% endif %}
            </ul>

            <h2>Timetable</h2>
            <table style="margin: 0 auto; color:white;text-align: left; font-size: 1.2em;">
                <tr>
                    <td>11:00 - 13:00</td>
                    <td>
                        <strong>TGI(P)F</strong><br/>
                        Reyer van Harten
                    </td>
                </tr>
                <tr>
                    <td>13:00 - 15:00</td>
                    <td>
                        <strong>TBD</strong><br/>
                        Auke Verbeek en Remco Koopmans
                    </td>
                </tr>
                <tr>
                    <td>15:00 - 17:00</td>
                    <td>
                        <strong>CJB</strong><br/>
                        Rick Everink en Nick Kroep
                    </td>
                </tr>
                <tr>
                    <td>17:00 - 19:00</td>
                    <td>
                        <strong>The Fuzz</strong><br/>
                        Anne-Fleur Kramer en Stony Waanders
                    </td>
                </tr>
                <tr>
                    <td>19:00 - 21:00</td>
                    <td>
                        <strong>TBD</strong><br/>
                        Jörgen Bok en ....
                    </td>
                </tr>
                <tr>
                    <td>21:00 - 23:00</td>
                    <td>
                        <strong>Rock@Nine</strong><br/>
                        Rutger Spanjer, Remco Koopmans, Stony Waanders en Reyer van Harten
                    </td>
                </tr>
                <tr>
                    <td>23:00 - 01:00</td>
                    <td>
                        <strong>DITN</strong><br/>
                        Rick Everink en Rob Leferink
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
